@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Home Page</h1>
    <p>To Access The To Do List, please click <a asp-area="" asp-controller="Home" asp-action="ToDo"> here </a></p>
</div>
